
<main>
  <router-outlet></router-outlet>
  <div class="bg-white dark:bg-gray-800">

  </div>
  <ul class="resources">
    <li class="col-span-2">
    </li>
  </ul>
  <details open>
    <summary>Add UI library</summary>
      <!-- [routerLink]="['myprofile']"  -->
      <a routerLink="/myprofile" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
        MY PROFILE
      </a>
  </details>
  <details>
    <summary>View dependency graph</summary>
    <a routerLink="/login2" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
      <div class="github-star-badge">
        OLD LOGIN
      </div>
    </a>
  </details>
</main>
