@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --colorPrimary: #EA573E;
  --colorPrimaryDark: #884400;

  --colorSecondary: #14173D;
  --colorSecondaryDark: #121749;
  
  --colorTertiary: #1FD6BA;
  --colorTertiaryDark: #00AA88;

  --colorNeutral: #FFFFFF;
  --colorNeutralDark: #AAAAAA;
}

body {
  height: 100%;
  color: var(--colorSecondary);
  background-color: var(--colorNeutral);
}

.bg-dark {
  color: var(--colorNeutral);
  background-color: var(--colorSecondaryDark);
}

h1 {
  color: var(--colorPrimary);
  background-color: var(--colorSecondaryDark);
}

h2 {
  color: var(--colorNeutral);
  background-color: var(--colorSecondaryDark);
}

h3 {
  color: var(--colorSecondary);
  
}

h4 {
  color: var(--colorSecondary);
  
}

h5 {
  color: var(--colorTertiary);
}

h6 {
  color: var(--colorPrimary);
}

button {
  border-color: var(--colorPrimary);
}
