<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.min.css" rel="stylesheet">

  <script src="https://cdn.tailwindcss.com"></script>

  <title>Trading Bot</title>

</head>
<body>
  <header hx-get="header.html" hx-trigger="load">
    <ins>=</ins>
  </header>

  <main class="pt-20">
    <section hx-ext='client-side-templates' class="h-full bg-gray-200 text-gray-800 p-4 lg:p-8">

      <button hx-get="http://localhost:3333/price" hx-target="#rawcontent" class="btn bg-yellow-500">price</button>
      <button hx-get="http://localhost:3333/balance" hx-target="#rawcontent" class="btn bg-orange-400">balance</button>
      <button hx-get="http://localhost:3333/sell" hx-target="#rawcontent" class="btn btn-secondary">sell</button>
      <button hx-get="http://localhost:3333/buy" hx-target="#rawcontent" class="btn btn-accent">buy</button>
      <button hx-get="http://localhost:3333/cancel?side=sell" hx-target="#rawcontent" class="btn bg-red-500">cancel sell</button>
      <button hx-get="http://localhost:3333/cancel?side=buy" hx-target="#rawcontent" class="btn bg-green-400">cancel buy</button>

      <p id="jsonformated" class="m-8 text-sm"></p>
      <p id="rawcontent" class="m-8 text-xs"></p>

      <aside class="flex items-center mb-1">
        <h1 class="flex-grow text-xl">Orders</h1>
        <button class="btn btn-primary"
                hx-trigger="load, click"
                hx-get="http://localhost:3333/orders" 
                nunjucks-template="tpl"
                hx-target="#xy"
                hx-swap="innerHTML">orders</button>
        <button hx-get="http://localhost:3333/orders?side=sell" hx-target="#xy" class="btn bg-red-400" nunjucks-template="tpl">sells</button>
        <button hx-get="http://localhost:3333/orders?side=buy" hx-target="#xy" class="btn bg-green-400" nunjucks-template="tpl">buys</button>
        <button hx-get="http://localhost:3333/orders?closed=1&side=sell" hx-target="#xy" class="btn bg-pink-200" nunjucks-template="tpl">closed sells</button>
        <button hx-get="http://localhost:3333/orders?closed=1&side=buy" hx-target="#xy" class="btn bg-green-200" nunjucks-template="tpl">closed buys</button>
      </aside>

      <p id="xy" class="m-8"></p>

      <script id="tpl" type="nunjucks">
        {% for itm in jsonData.dataArray %}
          <li class="relative -mb-px block border p-1 border-grey">
            <i>{{itm.datetime.replace("T", " | ")}}</i>  |  <b>{{itm.side.toUpperCase()}}</b> ({{itm.amount}}) at {{itm.price}}<br>
          </li>
        {% endfor %}
      </script>

      <script type="module">
      import JSONFormatter from 'https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.esm.min.js'

      htmx.defineExtension('client-side-templates', {
        transformResponse : function(text, xhr, elt) {
          const jsonformated = htmx.find('#jsonformated');
          jsonformated.innerHTML = '';

          const jsonParsed = JSON.parse(text);
          if (!jsonParsed) {
            return text;
          }

          jsonformated.appendChild((new JSONFormatter(jsonParsed)).render());

          const nunjucksTemplate = htmx.closest(elt, "[nunjucks-template]");
          if (nunjucksTemplate) {
            var templateName = nunjucksTemplate.getAttribute('nunjucks-template');
            var template = htmx.find('#' + templateName);
            return nunjucks.renderString(template.innerHTML, { jsonData: jsonParsed });
          }
          return text;
        }
      });
      </script>
    </section>
  </main>
  <!-- <script src="../js/htmx.min.js"></script> -->
  <script src="https://unpkg.com/htmx.org" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
</body>
</html>
